<style>
    .box{
        background-image: url(images/H4tz.gif); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 12%;
    }
</style>
<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower">

            <div class="view view-cascade gradient-card-header text-center text-white box w-75 rounded-bottom">

                <h2 class="card-header-title">Quên mật khẩu</h2>

                <p>Vui lòng nhập chính xác thông tin để lấy lại mật khẩu</p>
            </div>

            <div class="card-body card-body-cascade p-5">

                <form name="frmRegister">
                    <div class="form-group pb-4">
                        <label for="username">
                            <i class="fas fa-user prefix" style="color: crimson;"></i>
                            User Name: 
                        </label>
                        <input class="form-control fs-5" 
                            id="username" 
                            name="username" 
                            placeholder="Enter username" 
                            type="text"
                            ng-model="username"
                            required>
                        <div ng-hide="frmRegister.username.$valid || frmRegister.username.$untouched || frmRegister.$submitted">
                            <small class="form-text text-danger"
                                    ng-show="frmRegister.username.$error.required">
                                Vui lòng nhập tên đăng nhập
                            </small>
                        </div>
                    </div>

                    <div class="form-group pb-4">
                        <label for="email">
                            <i class="fas fa-envelope prefix" style="color: crimson;"></i>
                            Email: 
                        </label>
                        <input class="form-control fs-5" 
                                id="email" 
                                name="email" 
                                placeholder="Enter email" 
                                type="email"
                                ng-model="email"
                                required>
                        <div ng-hide="frmRegister.email.$valid || frmRegister.email.$untouched || frmRegister.$submitted">
                            <small class="form-text text-danger"
                                    ng-show="frmRegister.email.$error.required">
                                Vui lòng nhập email
                            </small>
                            <small class="form-text text-danger"
                                    ng-show="frmRegister.email.$error.email">
                                Email không đúng định dạng
                            </small>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button ng-click="getPass()" ng-disabled="frmRegister.$invalid" class="btn btn-danger btn-rounded text-white">Xác nhận</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>