<div>
    <!-- clock -->
    <div class="row clock bg-white p-2 text-center">
        <div class="col">
            <button class="btn btn-danger">{{(timer-timer%60)/60}}</button>
            :
            <button class="btn btn-danger">{{timer%60}}</button>
            
        </div>
    </div>
    <div class="row">
        <div class="col-2 shadow bg-white p-2 rounded-pill text-center fw-bold">
            Câu : {{indexQ+1}} / {{questions.length}}
        </div>
        <div class="col">
            <button class="btn btn-warning float-end mt-1" ng-click="finish()" data-bs-toggle="modal"
                data-bs-target="#hangin">
                Nộp bài
            </button>
        </div>
    </div>
    <!-- list courses -->
    <div class="row bg-white p-2 mt-2 rounded-3 shadow mb-4 bg-white">
        <div class="col">
            <div class="card">
                <div class="card-header text-uppercase">
                    Bài thi: {{subject.Name}}
                    <a style="float: right; width: 7%; height: 27px;" class="btn btn-info">{{testMark}} đ</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold">{{indexQ+1+'. '+questions[indexQ].Text}}</li>
                    <li class="list-group-item">
                        <form action="" name="formQ" class="{{(elem[indexQ].sub == 0) ? 'disabled':''}}}">
                            <div class="form-check" ng-repeat="answer in questions[indexQ].Answers">
                                <input ng-model="elem[indexQ].answer" class="form-check-input" type="radio" name="bgroup" id="{{'answer'+$index}}"
                                    value="{{answer.Id}}" required>
                                <label class="form-check-label" for="{{'answer'+$index}}">
                                    {{answer.Text}}
                                </label>
                            </div>
                            <button ng-disabled="formQ.bgroup.$invalid || elem[indexQ].sub == 0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Submit</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- điều hướng -->
    <div class="row bg-white text-center mb-4 p-2">
        
        <nav class="d-flex justify-content-center">
            <ul class="pagination my-0">
                <li ng-click="move(0)" class="page-item {{(indexQ+1 == 1)?'disabled':''}}"><a class="page-link">First</a></li>
                <li class="page-item {{(indexQ+1 == 1)?'disabled':''}}">
                    <a ng-click="move(indexQ-1)" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li ng-hide="indexQ+1 <= 4" class="page-item"><a class="page-link">...</a></li>
                <li class="page-item" ng-repeat="x in questions">
                    <a ng-click="move($index)" ng-if="$index > indexQ-4 && $index < indexQ+4" class="waves-effect rounded page-link {{($index==indexQ)?'bg-danger text-white':''}}">{{$index+1}}</a>
                </li>
                <li ng-hide="indexQ+1 >= questions.length-3" class="page-item"><a class="page-link">...</a></li>

                <li class="page-item {{(indexQ+1 == questions.length)?'disabled':''}}">
                    <button ng-click="move(indexQ+1)" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </button>
                </li>
                <li ng-click="move(questions.length-1)" class="page-item {{(indexQ+1 == questions.length)?'disabled':''}}"><a class="page-link">Last</a></li>
            </ul>
        </nav>

    </div>

    
</div>
    <!-- alert -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <img src="images/sure.gif" class="rounded-circle img-fluid">
                </div>
                <div class="modal-body">
                    <div class="h3 text-center py-2">
                        Bạn đã chắc chắn với đáp án?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Không</button>
                    <button ng-click="checkAns(); elem[indexQ].sub = 0" class="btn btn-info " data-bs-dismiss="modal">Có <i class="fas fa-sign-in-alt ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- alert end-->